---
import { getCollection, getEntry, render } from "astro:content";

import { ResourceCategory } from "@utils/resourceCategory";
import ResourcesLayout from "@layouts/ResourcesLayout.astro";
import { sortResources } from "@utils/resource";

export async function getStaticPaths() {
  const resources = await getCollection("resources");

  const categoryByPath = new Map<string, ResourceCategory>();

  // Collect all unique categories
  for (const resource of resources) {
    for (const resourceCategory of resource.data.categories) {
      const ancestorsAndSelf =
        ResourceCategory.fromString(resourceCategory).ancestorsAndSelf();
      for (const category of ancestorsAndSelf) {
        categoryByPath.set(category.slug, category);
      }
    }
  }

  return Array.from(categoryByPath).map(([path, category]) => ({
    params: { category: path },
    props: { category },
  }));
}

interface Props {
  category: ResourceCategory;
}

const { category } = Astro.props;
const resources = sortResources(await getCollection("resources"));

// Filter resources that match this category or are under it
const filteredResources = resources.filter((resource) => {
  return resource.data.categories.some((resourceCategory) =>
    ResourceCategory.fromString(resourceCategory).belongsTo(category)
  );
});

const categoryEntry = await getEntry("resourceCategories", category.slug);
const { Content } = categoryEntry
  ? await render(categoryEntry)
  : { Content: null };

// If there is a title specified in the markdown file, use that. Otherwise use the last component of the category
const displayName = categoryEntry?.data.title ?? category.last;
---

<ResourcesLayout
  title={`${displayName} Resources`}
  description={`Graphics programming resources in the ${displayName} category`}
  resources={filteredResources}
  allResources={resources}
  currentPath={category.slug}
>
  <h1>{displayName}</h1>
  <ul class="breadcrumb list-style-none">
    <a href="/resources/">All Resources</a>
    {
      category.ancestors().map((c) => (
        <li>
          <a href={`/resources/categories/${c.slug}`}>{c.last}</a>
        </li>
      ))
    }
    <li>{category.last}</li>
  </ul>

  {Content && <Content />}
</ResourcesLayout>

<style>
  .breadcrumb {
    display: flex;
    flex-direction: row;
    gap: 0.1em;
    font-size: 0.9em;
    margin-bottom: 1em;

    li {
      display: flex;
      align-items: center;

      &::before {
        content: "/";
        margin: 0 var(--space-xs);
      }
    }
  }
</style>
