---
import type { CollectionEntry } from "astro:content";

import { ResourceCategory } from "@utils/resourceCategory";
import CategorySidebarLink from "./CategorySidebarLink.astro";
import { getCollection } from "astro:content";

interface CategoryNode {
  category: ResourceCategory;
  children: CategoryNode[];
}

// Compute all unique categories and
function buildCategoryTree(
  resources: CollectionEntry<"resources">[],
  categories: CollectionEntry<"resourceCategories">[]
): CategoryNode[] {
  const categoryPriority = new Map<string, number>();
  for (const category of categories) {
    categoryPriority.set(category.id, category.data.priority);
  }

  const categoryMap = new Map<string, CategoryNode>();

  for (const resource of resources) {
    for (const categoryStr of resource.data.categories) {
      const resourceCategory = ResourceCategory.fromString(categoryStr);

      for (const category of resourceCategory.ancestorsAndSelf()) {
        if (!categoryMap.has(category.slug)) {
          categoryMap.set(category.slug, {
            category: category,
            children: [],
          });
        }

        const parent = category.parent;
        if (parent) {
          const parentNode = categoryMap.get(parent.slug)!;
          const existing = parentNode.children.find(
            (child) => child.category.slug == category.slug
          );
          if (!existing) {
            parentNode.children.push(categoryMap.get(category.slug)!);
          }
        }
      }
    }
  }

  // Return only top-level categories
  return Array.from(categoryMap.values())
    .filter((cat) => !cat.category.slug.includes("/"))
    .sort((a, b) => {
      // Sort by priority. If priority is the same, sort alphabetically
      const aPriority = categoryPriority.get(a.category.slug) ?? 0;
      const bPriority = categoryPriority.get(b.category.slug) ?? 0;

      if (aPriority < bPriority) {
        return 1;
      } else if (aPriority > bPriority) {
        return -1;
      }

      return a.category.last.localeCompare(b.category.last);
    });
}

interface Props {
  resources: CollectionEntry<"resources">[];
  currentPath?: string;
}

const { resources, currentPath = "" } = Astro.props;

const categories = buildCategoryTree(
  resources,
  await getCollection("resourceCategories")
);
---

{/* Classic label + input trick for pure HTML/CSS toggle */}
<label class="sidebar-toggler">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <title>filter-menu-outline</title>
    <path
      d="M12 18.88A1 1 0 0 1 11.71 19.71A1 1 0 0 1 10.3 19.71L6.3 15.71A1 1 0 0 1 6 14.87V9.75L1.21 3.62A1 1 0 0 1 1.38 2.22A1 1 0 0 1 2 2H16A1 1 0 0 1 16.62 2.22A1 1 0 0 1 16.79 3.62L12 9.75V18.88M4 4L8 9.06V14.58L10 16.58V9.05L14 4M13 16L18 21L23 16Z"
      fill="currentColor"></path>
  </svg>
  <input id="sidebar-toggler-input" type="checkbox" />
</label>

{
  /* 
    Backdrop when the sidebar is opened (only used on mobile). It covers all 
    the remaining part of the screen, and when a user click it, the sidebar will get closed.
  */
}
<label class="sidebar-backdrop" for="sidebar-toggler-input" aria-hidden="true"
></label>

<div class="category-sidebar">
  <nav>
    <h2>Categories</h2>
    <ul class="list-style-none">
      <li>
        <CategorySidebarLink currentPath={currentPath} />
      </li>
      {
        categories.map(({ category, children }) => (
          <li>
            <CategorySidebarLink
              category={category}
              currentPath={currentPath}
            />

            {children.length > 0 && (
              <ul class="list-style-none category-children">
                {children.map(
                  ({ category: child, children: grandchildren }) => (
                    <li>
                      <CategorySidebarLink
                        category={child}
                        currentPath={currentPath}
                      />

                      {grandchildren.length > 0 && (
                        <ul class="list-style-none category-children">
                          {grandchildren.map(({ category: grandchild }) => (
                            <li>
                              <CategorySidebarLink
                                category={grandchild}
                                currentPath={currentPath}
                              />
                            </li>
                          ))}
                        </ul>
                      )}
                    </li>
                  )
                )}
              </ul>
            )}
          </li>
        ))
      }
    </ul>
  </nav>
</div>

<style>
  .sidebar-toggler {
    --sidebar-toggler-size: 4rem;
    --bg-start: light-dark(
      oklab(0.55 -0.02 -0.22),
      oklab(0.47 -0.03 -0.25 / 0.8)
    );
    --bg-mid: light-dark(oklab(0.48 -0.02 -0.22), oklab(0.4 -0.02 -0.21 / 0.9));
    --bg-end: light-dark(
      oklab(0.42 -0.02 -0.2),
      oklab(0.34 -0.02 -0.17 / 0.95)
    );

    display: flex;
    width: var(--sidebar-toggler-size);
    height: var(--sidebar-toggler-size);
    z-index: 30;

    position: fixed;
    bottom: var(--space-md);
    left: var(--space-md);

    color: light-dark(oklab(1 0 0), oklab(1 0 0));
    background: linear-gradient(
      135deg,
      var(--bg-start) 0%,
      var(--bg-mid) 50%,
      var(--bg-end) 100%
    );
    border: 1px solid
      light-dark(oklab(0.42 -0.02 -0.2 / 0.4), oklab(1 0 0 / 0.2));
    border-radius: 50%;
    box-shadow:
      0 8px 32px
        light-dark(
          oklab(0.48 -0.02 -0.22 / 0.35),
          oklab(0.47 -0.03 -0.25 / 0.25)
        ),
      0 4px 16px light-dark(oklab(0.2 0 0 / 0.15), oklab(0 0 0 / 0.1)),
      inset 0 1px 0 light-dark(oklab(1 0 0 / 0.25), oklab(1 0 0 / 0.2));

    & svg {
      width: calc(0.5 * var(--sidebar-toggler-size));
      height: calc(0.5 * var(--sidebar-toggler-size));
      margin: auto;
    }

    & input {
      display: none;
    }
  }

  @media (min-width: 1024px) {
    .sidebar-toggler {
      display: none;
    }
  }

  .category-sidebar {
    nav {
      padding: var(--space-sm);
      border: 1px solid var(--color-border);
      border-radius: 6px;
      background-color: var(--color-bg);
    }

    h2 {
      font-size: 1rem;
      margin-bottom: var(--space-sm);
    }

    .category-children {
      padding-left: var(--space-sm);
    }
  }

  @media (min-width: 1024px) {
    .category-sidebar {
      align-self: flex-start;

      nav {
        margin: var(--space-xl) var(--space-lg) var(--space-lg);
      }
    }
  }

  @media (max-width: 1023px) {
    .sidebar-backdrop {
      display: none;
      position: fixed;
      inset: 0;
      z-index: 39;
      background-color: rgb(0 0 0 / 0.1);
      backdrop-filter: blur(1px);

      .sidebar-toggler:has(#sidebar-toggler-input:checked) ~ & {
        display: block;
      }
    }

    .category-sidebar {
      position: fixed;
      z-index: 40;
      top: 0;
      bottom: 0;
      display: block;

      /* hide at left-side of the screen unless the input is toggled */
      transform: translateX(-100%);

      .sidebar-toggler:has(#sidebar-toggler-input:checked) ~ & {
        transform: translateX(0);
      }

      nav {
        min-width: calc(min(30ch, 80vw));
        height: 100vh;
        overflow-y: scroll;
      }
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .category-sidebar {
      transition: 0.2s transform linear;
    }
  }
</style>
